body {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 230, 230);
    padding: 2%;
    border-radius: 50px;
    color: white;

}
.card, .m-3 {
    background-color: #24252A;
    /* align-items: center; */
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 126, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(0, 126, 169, 0.8);
}



