<!-- <h3>Contact Nisarg</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="contact.name" name="name">
    </div>
 
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="contact.email" name="email">
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" required [(ngModel)]="contact.phone" name="phone">
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" required [(ngModel)]="contact.message" name="message">
      </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div> -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <div class="card m-3">
        <h5 class="card-header">Contact Nisarg</h5>
        <div class="card-body">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-5" style="margin-right: 1%; margin-left: 8%">
                        <label>Your Name:</label>
                        <br>
                        <input type="text" formControlName="name" class="form-control" [(ngModel)]="contact.name" [ngClass]="{ 'is-invalid': error && f.name.errors }" />
                        <div *ngIf="error && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Your name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-5">
                        <label>Your Phone #:</label>
                        <input type="text" formControlName="phone" class="form-control" [(ngModel)]="contact.phone" [ngClass]="{ 'is-invalid': error && f.phone.errors }" />
                        <div *ngIf="error && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Your Phone Number is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-10" style="margin-left: 8%;">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [(ngModel)]="contact.email" [ngClass]="{ 'is-invalid': error && f.email.errors }" />
                        <div *ngIf="error && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-10" style="margin-left: 8%;">
                        <label>Message:</label>
                        <textarea type="text" formControlName="message" style="resize: both; overflow: auto;" class="form-control" [(ngModel)]="contact.message"></textarea>
                    </div>
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': error && f.acceptTerms.errors }" />
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="error && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div> -->
                <button class="btn btn-primary mr-1" style="margin-left: 8%; margin-top: 1%;">Submit</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()" style="margin-top: 1%; margin-left: 1%;">Cancel</button>
            </form>
        </div>
    </div>
</body>