/* p {
    color: white;
    text-align: right;
    margin-right: 2%;
    font-size: 60px;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
} */

img {
    float: right;
    margin-top: 4%;
    margin-right: 4%;
    width: 40%;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 230, 230);
    padding: 2%;
    border-radius: 50px;
    
}

.id {
    text-align: center;
}

/* .wrapper {
    background-image: url("background_image.jpg");
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
} */