
img {
  float: center;
  /* margin-top: 4%; */
  margin-right: 1%;
  width: 15%;
  display: block;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-bottom: 5px;
}

img:hover {
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(2);
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: Rockwell, Arial, Helvetica, sans-serif;
  background-color: rgb(235, 230, 230);
  padding: 2%;
  border-radius: 50px;

}

.id {
  text-align: center;
}
